$white: #FFFFFF;
$black: #1F3E5A;
$red:  #FF505C;



@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

body {
    min-height: 100vh;
    font-family: 'Overpass', sans-serif;
    overflow-x: hidden;
}

h1, h2 ,h3, h4, h5, h6 {
    color: $black;
    font-weight: 600;

}

p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
}

img {
    width: 100%;
    // height: auto;
  }


$tablet: 768px;
$desktop: 1440px;