/*----------------------------
      layout
 ----------------------------*/

/*----------------------------
      header section
----------------------------*/
.header {
  background: url(../images/bg-pattern-intro-mobile.svg),
    linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%);
  background-repeat: no-repeat;
  background-position: left -335.76px top -243.79px, center;
  border-radius: 0px 0px 0px 100px;
  padding: 56px 24px 156px;

  @media only screen and (min-width: $desktop) {
    background: url(../images/bg-pattern-intro-desktop.svg), linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%);
    background-position: left -439.29px top -1341.92px, center;
    padding: 63px 161px 155px;
  }

  &__top-row {
    display: flex;
    justify-content: space-between;
    position: relative;

    @media only screen and (min-width: $desktop) {
      gap: 63px;
    }
  }

  &__logo-container {
    width: 82px;

    @media only screen and (min-width: $desktop) {
      width: 101px;
      align-self: center;
    }
  }

  &__hamburger {
    width: 32px;
    height: 18px;
    position: relative;

    @media only screen and (min-width: $desktop) {
      display: none;
    }
  }

  &__hamburger-icon,
  &__hamburger-icon:before,
  &__hamburger-icon:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 32px;
    background: white;
    transition: all 0.4s ease;
    display: block;
  }

  &__hamburger-icon {
    top: 8px;
  }

  &__hamburger-icon:before {
    top: -8px;
  }

  &__hamburger-icon:after {
    top: 8px;
  }

  &__hamburger-active &__hamburger-icon {
    transform: rotate(-135deg);
  }

  &__hamburger-active &__hamburger-icon:before,
  &__hamburger-active &__hamburger-icon:after {
    top: 0;
  }

  &__hamburger-active &__hamburger-icon:before {
    transform: rotate(90deg);
  }

  &__navigation {
    position: absolute;
    background-color: $white;
    width: 100%;
    top: 70px;
    padding: 24px 0 32px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
    display: none;

    @media only screen and (min-width: $desktop) {
      all: unset;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      width: 100%;
    }
  }

  &__hamburger-active + nav {
    display: block;

    @media only screen and (min-width: $desktop) {
      display: flex;
    }
  }

  &__hamburger-active + nav &__hamburger-icon {
    background: transparent;
    transform: rotate(-135deg);
  }

  &__nav-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media only screen and (min-width: $desktop) {
      flex-direction: row;
      gap: 50px;
    }
  }

  &__nav-label {
    list-style: none;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    cursor: pointer;

    @media only screen and (min-width: $desktop) {
      color: $white;
    }
  }

  &__nav-label::after {
    content: url(../images/icon-arrow-dark.svg);
    position: absolute;
    margin: 0 0 0 8px;
    transition: 0.3s ease-in;

    @media only screen and (min-width: $desktop) {
      content: url(../images/icon-arrow-light.svg);
    }
  }

  details[open] &__nav-label:after {
    transform: rotate(180deg);
  }

  details[open] {
    animation: fadeIn 0.6s ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0.25;
    }
    100% {
      opacity: 1;
    }
  }

  &__nav-items {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    background: #f0f0f0;
    border-radius: 5px;
    padding: 17px 0 25px;
    margin: 24px 24px 5px;

    @media only screen and (min-width: $desktop) {
      margin: 0;
      position: absolute;
      width: 149px;
      margin: 24px 0 0 -24px;
    }
  }

  &__nav-items a {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.75;
  }

  &__nav-items a:hover {
    font-weight: 700;
  }

  &__card-transition {
    border: none;
    border-top: 1px solid #e8e4e4;
    margin: 24px;

    @media only screen and (min-width: $desktop) {
      display: none;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    @media only screen and (min-width: $desktop) {
      flex-direction: row;
    }
  }

  &__button--login {
    color: $black;
    font-size: 18px;
    padding: 0;

    @media only screen and (min-width: $desktop) {
      color: $white;
    }
  }

  &__button--sign-up {
    color: $white;
    background: linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%);
    max-width: 137px;
    padding: 15px 40px;
    font-size: 18px;
    transition: 0.3s ease-in;

    @media only screen and (min-width: $desktop) {
      color: $red;
      background: $white;
    }
  }

  &__button--sign-up:hover,
  &__button--start:hover {
    color: $white;
    background-color: #ff7b86;
  }

  &__info {
    text-align: center;
  }

  &__heading {
    font-size: 36px;
    font-size: clamp(36px, 4.5vw, 64px);
    line-height: clamp(55px, 6.8055555556vw, 98px);
    letter-spacing: -1.0800000429153442px;
    margin: 108px 0 0;
    color: $white;

    span {
      display: block;

      @media only screen and (min-width: $desktop) {
        display: unset;
      }
    }
  }

  &__text {
    font-size: clamp(18px, 1.3888888889vw, 20px);
    font-weight: 300;
    color: $white;
    margin: 0 0 48px;
  }

  &__cta-buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  &__button--start {
    transition: 0.3s ease-in;
    background-color: $white;
    color: $red;
  }

  &__button--more {
    border: 1px solid $white;
    color: $white;
    padding: 14px 16px;
    transition: 0.3s ease-in;
  }

  &__button--more:hover {
    background-color: $white;
    color: #ff7b86;
  }
}

/*----------------------------
      main (blogr) section 
----------------------------*/
// content section one

.blogr {
  &__content-container-one {
    padding: 100px 24px 273px;

    @media only screen and (min-width: $desktop) {
      padding: 71px 0 283px;
      background: url(../images/illustration-editor-desktop.svg) no-repeat top
        70px right -271px;
    }
  }

  &__heading-two {
    font-size: clamp(28px, 10.667vw, 40px);
    letter-spacing: clamp(-0.84px, 0.224vw, -1.2px);
    letter-spacing: -0.8399999737739563px;
    text-align: center;

    @media only screen and (min-width: $desktop) {
      margin: 79px;
    }
  }

  &__editor-image {
    margin: 37px 0 46px;

    @media only screen and (min-width: $desktop) {
      display: none; //eventually replace picture with img
    }
  }

  &__text-container {
    text-align: center;

    @media only screen and (min-width: $desktop) {
      width: 38%;
      text-align: left;
      margin: 0 165px 0;
    }
  }

  &__heading-three {
    font-size: 28px;
    line-height: 32px;
    max-width: 318px;
    margin: 46px auto 16px;

    @media only screen and (min-width: $desktop) {
      margin: 93px 0 16px;
      max-width: unset;
    }
  }

  &__paragraph {
    margin: 0;
    color: #4c5862;
    letter-spacing: 0.5px;
  }

  //content section two
  &__content-container-two {
    background: linear-gradient(135deg, #2d2e40 0%, #3f4164 100%);
    border-radius: 0px 100px;
    padding: 221px 24px 109px;
    text-align: center;
    position: relative;

    @media only screen and (min-width: $desktop) {
      display: flex;
      flex-direction: row-reverse;
      padding: 90px 165px 90px;
      text-align: left;
    }
  }

  &__illustration-phones {
    position: absolute;
    top: clamp(-250px, -43vw, -49px);
    transform: translateX(-50%);
    left: 50%;
    width: clamp(328px, 87.467vw, 472px);

    @media only screen and (min-width: $desktop) {
      top: -49px;
      transform: unset;
      left: 123px;
    }
  }

  &__text-container-two {
    @media only screen and (min-width: $desktop) {
      width: 540px;
    }
  }

  &__heading-four {
    font-size: 40px;
    line-height: 61px;
    letter-spacing: -1.2000000476837158px;
    color: white;
  }

  &__paragraph--white {
    color: $white;
    margin: 10px 0 0;
  }

  //content section three
  &__content-container-three {
    margin: 79px 24px 100px;

    @media only screen and (min-width: $desktop) {
      display: flex;
      margin: 116px 0 123px -227px;
    }
  }
}
/*----------------------------
      footer section 
----------------------------*/
.footer {
  background: #24242c;
  border-radius: 0px 100px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  padding: 75px 0;

  @media only screen and (min-width: $desktop) {
    flex-direction: row;
    padding: 70px 165px;
    gap: 184px;
    justify-content: center;
    align-items: flex-start;
  }

  &__logo-container {
    width: 101px;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 72px 24px 0;
    text-align: center;
    color: $white;

    @media only screen and (min-width: $desktop) {
      flex-direction: row;
      gap: 229px;
      text-align: left;
      margin: 0;
    }
  }

  &__nav-items {
    font-family: Ubuntu;
    font-size: 18px;
    line-height: 33px;
  }

  &__nav-label {
    font-weight: 500;
    margin: 0 0 21px;
  }

  &__link a {
    text-decoration: none;
    color: $white;

    font-weight: 400;
    opacity: 0.75;

    @media only screen and (min-width: $desktop) {
      padding: 15px 0;
    }
  }
}

.header__nav-label:before {
  @media only screen and (min-width: $desktop) {
    background-color: $white;
    bottom: 2px;
    content: "";
    height: 2px;
    left: 0px;
    position: absolute;
    transform: scaleX(0);
    transition: transform 0.3s ease-in;
    width: 100%;
  }
}

.header__nav-label:hover::before {
  transform: scaleX(1);
}
